header {
    text-align: center;
    font-size: 5em;
    position: relative;

    .settingsButton {
        position: absolute;
        top: 20px;
        right: 20px;

        button {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: none;
            color: #fff;
            text-shadow: 0 0 5px #666;
            font-size: 1.5rem;
        }

        .hideSettings {
            display: none;
        }
    }
}