.settings {
    //  visibility: hidden;
    float: right;
    width: 320px;
    transition: all .5s;
    background-color: #CACDCB;
    height: 100vh;
    padding: 20px;
    margin-right: -320px;
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: .9rem;

    @media screen and (max-width: 380px) {
        width: 100vw;
        margin-right: -100vw;
    }
}